:root {
    --main-color: #10cab7;
    --section-padding: 60px;
    --secondry-color: #2c4755;
    --main-transition: 0.3s;
    --main-background: #F6F6F6;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.parent {
    background-color: #eee;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Meduim */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* larg */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*components*/
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }

}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/*end components*/
/* header*/
.header {
    padding: 20px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;

}

.header .links {
    position: relative;

}


.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}


.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;

}

.header .links .icon span:first-child {
    height: 3px;
    width: 100%;

}

.header .links .icon span:nth-child(2) {
    height: 3px;
    width: 60%;
    transition: var(--main-transition);
}

.header .links .icon span:nth-child(3) {
    height: 3px;
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: var(--main-background);
    position: absolute;
    right: 0px;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--main-background) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-transition);
}

.header .links ul a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #DDD;
}

/*end header*/
/* landing section */
.landing {
    background-image: url(../images/wp6970219-minimalist-mountain-black-and-white-wallpapers.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    color: var(--main-background);
}

/*landing section end */
/*Feature section*/
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--main-background);
}

.features .container {
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;

}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/*feature section end*/
/*Sevices section*/
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services-content {
    margin-top: 100px;
    gap: 30px;
}

.services-content .col .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services-content .col .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services-content .col .srv .text {
    flex: 1;
}

.services-content .col .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services-content .col .srv h3 {
    font-weight: 800;
    margin: 0 0 30px;


}

.services-content .col .srv p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services-content .col .image {
    text-align: center;
    position: relative;
}

.services-content .col .image img {
    width: 260px;
    height: 327px;

}

.services-content .col .image::before {
    content: '';
    background-color: var(--secondry-color);
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    z-index: -1;
    top: -50px;
    right: 0;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}

/*Sevices section end*/
/* portfolio section */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-background);
}

.portfolio .portfolio-content {
    margin-top: 80px;
    gap: 30px;
}

.portfolio .portfolio-content .card {
    background-color: white;
    position: relative;
}


.portfolio .portfolio-content .card img {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
    position: absolute;
    width: 35%;
    height: 60px;
    background-color: #8093f9;
    ;
    bottom: 18px;
    left: 15px;
    overflow: hidden;
    transition: .5s;
}

.portfolio .portfolio-content .card:hover img {
    opacity: 0;
}

.portfolio .portfolio-content .card:hover .info {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
    position: absolute;
    transform: translateX(-8px);
    top: 11px;
}

.portfolio .portfolio-content .card .info p {
    color: #ebe6ef;
    line-height: 1.6;
    margin-bottom: 0;
    display: none;
    transition: .5s;
    transition-delay: .5s;
    margin-top: 20px;
}


.portfolio .portfolio-content .card:hover .info p {
    opacity: 1;
    display: block;
}

/* portfolio section end */
/* About section */
.About {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.About-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(max-width:991px) {
    .About .About-content {
        flex-direction: column;
        text-align: center;
    }
}

.About .About-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

.About .About-content .image img {
    max-width: 100%;
    height: 375px;
}

@media(max-width:991px) {
    .About .About-content .image {
        margin: 0 auto 60px;
    }
}

.About .About-content .image::before {
    content: '';
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.About .About-content .image::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
    top: -40px;
}

@media(max-width:991px) {

    .About .About-content .image::before,
    .About .About-content .image::after {
        display: none;
    }
}

.About .About-content .text {
    flex-basis: calc(100% - 500px);
}

.About .About-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.About .About-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.About .About-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* About section end */
/* Contact section */
.Contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-background);
}

.Contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.Contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondry-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.Contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.Contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.Contact .info .social i {
    margin-left: 10px;
    color: var(--secondry-color);
}

@media(max-width:767px) {

    .Contact .info .label,
    .Contact .info .link {
        font-size: 25px;
    }
}

/* Contact section end */
/* Footer */
.footer {
    padding: 30px 10px;
    background-color: var(--secondry-color);
    color: white;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

/* Footer end */